[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal
[submodule "external/oneTBB"]
	path = external/oneTBB
	url = https://github.com/uxlfoundation/oneTBB.git
